/* Basscss */
@import 'basscss/btn-sizes.css';
@import 'basscss/basscss.css';
@import 'basscss/btn.css';
@import 'basscss/btn-outline.css';

@import 'basscss/background-colors.css';
@import 'basscss/colors.css';
@import 'basscss/forms.css';
@import 'basscss/progress.css';

/* Misc */
@import 'misc/spinner.css';

@keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
* { animation: fade-in 0.12s; }
body { font-family: 'Source Sans Pro', sans-serif; }

a { text-decoration: none; color: #39CCCC; transition: color .2s ease-in-out; }
a:hover { color: #F5FCFF; }

.result { background-color: rgba(255, 255, 255, 0.1); }